<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link rel="stylesheet" href="bootstrap.css" />
    <script src="angular.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
  </head>
  <body class="container" data-ng-app="inventory">
    <header class="jumbotron">
      <h1>Inventory Tracker</h1>
    </header>

    <main data-ng-controller="inventory_controller as vm">
      <h2>Total Value: ${{vm.total_value()}}</h2>
      <input type="text" class="form-control" placeholder="Filter on..." data-ng-model="vm.filter_on" />
      <table class="table table-striped">
        <thead>
          <tr>
            <td>a-z</td>
            <th data-ng-click="vm.sort_on = 'name'">Name</th>
            <th data-ng-click="vm.sort_on = 'cost'">Cost</th>
            <th data-ng-click="vm.sort_on = 'quantity'">Quantity</th>
            <th data-ng-click="vm.sort_on = 'country'">Country of Origin</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="product in vm.data | filter: vm.filter_on | orderBy: vm.sort_on">
            <td>{{$index + 1}}</td>
            <td>
              <img data-ng-src="{{product.image_url}}" alt="#" />
              <a data-ng-href="{{product.url}}" tabindex="-1">{{product.name}}</a>
            </td>
            <td>${{product.cost.toFixed(2)}}</td>
            <td>
              <input type="number" data-ng-model="product.quantity" />
            </td>
            <td>{{product.country}}</td>
            <td>
              <input type="text" data-ng-model="product.notes" />
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
